/* GENERICS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.clearfix{
    display: table;
    content: '';
    clear: both;
}
body{
    font-family: 'Arimo', sans-serif;
}
/* UTILS */
.wrapper{
    height:calc(100vh - 100px);
    background-color: chartreuse;
    display: flex;
}
aside{
    flex-basis: 50px;
    background-color: black;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 1;
}

main{
    flex-grow: 1;
    background-color: #141922;
    overflow: auto;
    padding-top: 100px;
}
header{
    height: 100px;
    background-color: rgba(8, 11, 18, 0.4);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;

}
footer{
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}
.text-grey{
    color: grey;
}
.text-white{
    color: white;
}
.description{
    font-size: 10px;
}
img{
    max-width: 100%;
}
.pad-15px{
    padding: 15px;
} 
.b-r-50{
    border-radius: 50%;
}
.d-inblk{
    display: inline-block;
}
hr{
    color: white;
    margin: 0 30px;
}

/* BUTTOM */
.buttoms{
    padding-right: 15px;
    position: absolute;
    top: 20px;
    right: 10px;
}
.buttoms a{
    text-decoration: none;
    color: white;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 20px;   
} 
.buttoms a:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* SIDEBAR */
.logo{
    display: flex;
    align-items: center;
}
#logo-large{
    height: 50px;
    width: 100px;
    margin-left: 10px;
}
#logo-small{
    height: 50px;
    width: 50px;
    padding: 10px;
}
.home{
    border-left: 2px solid greenyellow;
}
.playlist-list{
    padding: 0 10px;
}
.playlist-list h3{
    margin: 15px 0;
}
.fa-plus{
    font-size: 20px;
    background-color: grey;
    padding: 15px;
}
.icon.download{
    padding: 17px;
}
.icon.user{

}
/* LOGHI */

.icon{
    padding: 10px;
    height: 50px;
    width: 50px;
}
.icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.account{
    
}

/* LISTS */
#content .list-top li,a{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    color: grey;
    margin: 10px 4px;
    padding: 3px;
    font-size: 14px;
}
.list-top li a:hover{
    transform: scale(1.1);
    color: greenyellow;
}
.list-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.aside-list{
    overflow: auto;
}

/* PLAYLIST */

#content .playlist-gallery h3{
    margin: 10px 0; 
    color:white;
    font-size: 14px;
}
#content .playlist-gallery .subtitle{
    font-size: 12px;
    color: grey;
}
#content .playlist-gallery{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 15px -15px;
}
#content .playlist-gallery li{
    flex-basis: 50%;
    padding: 15px;
    list-style-type: none;
}
.card:hover{
    opacity: 0.5;
    cursor: pointer;
    
}





/* FOOTER */
.col{
    float: left;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.now-play{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.song-play{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}











.player{
    font-size: 20px;
} 